@import './base.css';
@import './table.css';


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(11, 15, 14);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    color: hsla(162, 94%, 48%, 0.938);
  }
}

.view-content {
    margin: auto;
    margin-top: 20px;
    width: 50%;
}

.page-description {
    text-align: center;
    margin: 20px 0 40px 0;
} 


